<div class="stopwatch-wrapper">
	<div>Read Timer</div>
	<input type="radio" name="controls" id="start">
	<input type="radio" name="controls" id="stop">
	<input type="radio" name="controls" id="reset">
	<input type="checkbox" name="controls" id="hide">
	<div class="stopwatch">
		<div class="cell">
			<span class="num ten ten_hour">0 1 2 3 4 5 6 7 8 9</span>
		</div>
		<div class="cell">
			<span class="num ten hour">0 1 2 3 4 5 6 7 8 9</span>
		</div>
		<div class="cell">
			<span class="num">:</span>
		</div>
		<div class="cell">
			<span class="num sex ten_minu">0 1 2 3 4 5</span>
		</div>
		<div class="cell">
			<span class="num ten minu">0 1 2 3 4 5 6 7 8 9</span>
		</div>
		<div class="cell">
			<span class="num">:</span>
		</div>
		<div class="cell">
			<span class="num sex ten_sec">0 1 2 3 4 5</span>
		</div>
		<div class="cell">
			<span class="num ten sec">0 1 2 3 4 5 6 7 8 9</span>
		</div>
	</div>
	<div class="control">
		<label for="hide" class="fa fa-times"></label>
		<label for="start" class="fa fa-play"></label>
		<label for="stop" class="fa fa-pause"></label>
		<label for="reset" class="fa fa-stop"></label>
	</div>
</div>